<html>
    <head>

    </head>
    <body>
        <form action="/process" method="post">
        Your name : <input type="text" name="name">
        Dojo Location : <select name="location">
            <option value="Silicon Valley">Silicon Valley</option>
            <option value="Tulsa">Tulsa</option>
            <option value="Mountain View">Mountain View</option>
            <option value="Seattle">Seattle</option>
            <option value="Burbank">Burbank</option>
        </select>
        Favorite Language : <select name="language">
            <option value="Python">Python</option>
            <option value="Python">JavaScript</option>
            <option value="Python">Java</option>
            <option value="Python">C#</option>
            <option value="Python">Swift</option>
        </select>
        Comment (optional): <input type="text" name="comments">
        <input type="submit" value="create form">
        </form>
    </body>
</html>